<form class="flexcol" style="gap: 0.5rem;">
  <div class="movement-config-row">
    <label for="blockMouseMovement">{{localize
        "TOKEN-MOVEMENT-SETTINGS.blockMouseMovementLabel"
      }}</label>
    <input
      type="checkbox"
      name="blockMouseMovement"
      {{checked blockMouseMovement}}
    />
  </div>
  <div class="movement-config-row">
    <label for="gridlessMovementModifier">{{localize
        "TOKEN-MOVEMENT-SETTINGS.gridlessMovementModifierLabel"
      }}</label>
    <input
      class="flex-1"
      type="number"
      name="gridlessMovementModifier"
      min="0"
      step="0.01"
      value="{{gridlessMovementModifier}}"
    />
    <i
      class="fa-solid fa-circle-info"
      data-tooltip="{{localize
        'TOKEN-MOVEMENT-SETTINGS.gridlessMovementModifierTooltip'
      }}"
    ></i>
  </div>

  <button type="submit"><i class="far fa-save"></i>
    {{localize "TOKEN-MOVEMENT-SETTINGS.saveChangesLabel"}}</button>
</form>